body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #9622d4, hsl(286, 88%, 29%));
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 400px;
}

.logo {
    width: auto;
    height: 70px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    margin: 10px 0;
}

.social-media {
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s;
}

.social-link-patreon {
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 90px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s;
}

.social-link img {
    width: 28px;
    height: 20px;
}

.social-link-patreon img {
    width: 158px;
    height: 90px;
}

.social-link:hover {
    transform: scale(1.1);
}

.social-link-patreon:hover {
    transform: scale(1.1);
}

.social-link:nth-child(1) {
    background-color: rgba(29, 161, 242, 0.5);
}

.social-link-patreon {
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: #cfcfcf;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    .social-link {
        width: 40px;
        height: 40px;
    }

    .social-link img {
        width: 28px;
        height: 21px;
    }
}
